---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2024')}
	heroImage="/about-page.png"
>	
	<h2>Your CDS Technology Support Team</h2>

	<p>
		Ryan James - Technology Coordinator and Digital Facilitator <br>
		<a href="mailto:rjames@carolinaday.org">Email Ryan</a>
	</p>

	<p>
		Logan Buell - EO Embedded Resource <br>
		<a href="mailto:eoadmin@carolinaday.org">Email Logan</a>

</Layout>
